*
!**/
!*.*

*.o
*.obj
*.ilk
*.exp
*.pdb
*.lib
*.dll
*.exe
*.so
*.dylib
*.zip
*.iss
*.log
*.pdb
*.wasm

a.out

/build
/nimcache
/tests/megatest.nim
/outputGotten.txt
/testresults
/tests/emscripten/*.js

.gitignore
*.elf
*jseb*
