name: Build examples
on: [push]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-18.04, macos-10.15]
        nim-version: ['1.4.2']
        include:
          - os: ubuntu-latest
            nim-version: stable
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true
      - name: Install Linux dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install build-essential
          sudo apt-get install libasound2-dev mesa-common-dev libx11-dev libxrandr-dev libxi-dev xorg-dev libgl1-mesa-dev libglu1-mesa-dev
      - name: Install MacOS dependencies
        if: ${{ runner.os == 'macOS' }}
        run: |
          # /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
          xcode-select --install
      - name: Install shared Raylib library
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
        run: |
          cd raylib/src
          make PLATFORM=PLATFORM_DESKTOP RAYLIB_LIBTYPE=SHARED
          sudo make install RAYLIB_LIBTYPE=SHARED
      - name: Install Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ matrix.nim-version }}
      - name: Install dependencies
        run: nimble install --depsOnly --accept
      - name: Install c2nim
        run: nimble install --accept c2nim
      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@v1
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}
        if: ${{ runner.os != 'Windows' }}
      - name: Run converter and check files
        run: nimble convert
      - name: Assemble megatest from examples
        run: nim r scripts/make_tests_from_examples.nim
      - name: Run megatest
        run: nimble testExamples
