name: Build examples
on: [push]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-18.04, macos-latest]
        nim-version: ['1.4.2']
        include:
          - os: ubuntu-latest
            nim-version: devel
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true

      - name: Install Linux dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install build-essential
          sudo apt-get install libasound2-dev mesa-common-dev libx11-dev libxrandr-dev libxi-dev xorg-dev libgl1-mesa-dev libglu1-mesa-dev

      - name: Install shared Raylib library on Linux
        if: ${{ runner.os == 'Linux' }}
        run: |
          cd raylib/src
          make PLATFORM=PLATFORM_DESKTOP RAYLIB_LIBTYPE=SHARED
          sudo make install RAYLIB_LIBTYPE=SHARED

      - name: Install shared Raylib library on MacOS
        if: ${{ runner.os == 'macOS' }}
        run: |
          /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
          brew install raylib

      - name: Install emsdk dependency
        uses: mymindstorm/setup-emsdk@v9

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ matrix.nim-version }}

      - name: Install NimraylibNow! and dependencies
        run: nimble install --accept
      - name: Try compiling a file with local installation
        run: nim c examples/original/crown.nim

      - name: Install c2nim
        run: nimble install --accept c2nim
      - name: Run converter and check files
        run: nimble convert

      - name: Run megatest
        run: nimble testExamples

      - name: Run emscripten test
        run: nimble testEmscriptenExample
